body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M675.89 238.01a3.12 3.12 0 1 0-6.2 0.77z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M502.84 154.49L554.72 154.49L554.72 157.79L502.84 157.79z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M320.4 358.75L362.68 358.75L362.68 401.03L320.4 401.03z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M697.9 23.74a44.41 44.41 0 1 0 77.58 43.24z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M948.64 483.77L993.45 483.77L993.45 528.58L948.64 528.58z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1249.98 77.87 a12.7 12.7 0 1 0 25.4 0 a12.7 12.7 0 1 0 -25.4 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M802.4 353.72 a52.09 52.09 0 1 0 104.18 0 a52.09 52.09 0 1 0 -104.18 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1326.9 352.95L1368.3 352.95L1368.3 407.51L1326.9 407.51z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M715.15 393.98L742.17 393.98L742.17 421L715.15 421z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1220.42 115.75L1246.12 115.75L1246.12 118.35L1220.42 118.35z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M852.85 322.52L890.3 322.52L890.3 359.97L852.85 359.97z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1024.46 351.26L1056.48 351.26L1056.48 383.28L1024.46 383.28z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M684.94 305.6L726 305.6L726 339.93L684.94 339.93z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M225.31 207.02L277.95 207.02L277.95 259.66L225.31 259.66z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M630.55 359.57 a49.48 49.48 0 1 0 98.96 0 a49.48 49.48 0 1 0 -98.96 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1176.82 263.97L1187.82 263.97L1187.82 307.83L1176.82 307.83z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M743.37 429.13a41.75 41.75 0 1 0-59.43 58.65z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M480.76 199L489.36 199L489.36 204.8L480.76 204.8z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1352.17 218.58a25.09 25.09 0 1 0-43.06-25.77z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1238.18 393.98L1243.21 393.98L1243.21 424.62L1238.18 424.62z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M602.52 506.62 a50.62 50.62 0 1 0 101.24 0 a50.62 50.62 0 1 0 -101.24 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M578.53 222.63L625.25 222.63L625.25 269.35L578.53 269.35z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M878.21 361.97L884.67 361.97L884.67 412.12L878.21 412.12z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M565.5 171.15L573.5 171.15L573.5 187.04L565.5 187.04z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M835.35 24.8a37.46 37.46 0 1 0-72.62-18.42z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1210.56 105.87L1254.2 105.87L1254.2 149.51L1210.56 149.51z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M370.26 201.51a46.45 46.45 0 1 0-32.02-87.21z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M662.1 202.12L696.52 202.12L696.52 236.54L662.1 236.54z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1221.81 391.74a30.63 30.63 0 1 0 15.89 59.16z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M778.34 410.75 a13.74 13.74 0 1 0 27.48 0 a13.74 13.74 0 1 0 -27.48 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M987.68 21.12L1042.37 21.12L1042.37 32.59L987.68 32.59z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1099.63 501.99a48.75 48.75 0 1 0-91.76 32.95z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M278.32 228.98a38.6 38.6 0 1 0-67.82-36.88z' fill='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

@font-face {
    font-family: BNaznnBd;
    src: url(BNaznnBd.ttf);
}

@font-face{
    font-family: times;
    src: url(times.ttf);
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size:30px;
    text-decoration: none;
    /* border-style: dotted;
    border-color:blanchedalmond;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden; */
    background-color: white;
}

.mamad {
    margin: auto;
    text-align: center;
    align-self: center;
    color:limegreen;
    width: 75%;
    font-family: BNaznnBd;
}

.onsoretable {
    text-align: center;
    width: 25%;
    font-size: 30px;
    border-style:ridge;
    border-color: red;
    border-width: 5px;
    background-color: #333333;
}

.marg{
    text-align: center;
    color: limegreen;
    text-decoration: none;
}

.marg:hover{
    opacity:0.7;
}

.ax {
    opacity: 0.7;
    float: left;
    margin-right: 15px;
    display:block;
    width: 28%;
    height: 650px;
}

.ax:hover {
    opacity: 1;
}

.matneasli {
    margin-top: 30px;
    font-size: 40px;
    margin-right: 30px;
    color:white;
    width:60%;
    border-width: 5px;
    border-style: solid;
    font-family:BNaznnBd;
}

p {
    margin-right: 20px;
}

.mamadfoot {
    text-decoration: none;
    color:red;
    font-family:times;
}

.mamadfoot:hover{
    opacity:0.7;
    color:orangered;
}